* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #04051D;
    backdrop-filter: blur(20px);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
@media screen and (max-width: 770px){
    body{
        flex-direction: column;
    }
}

header {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    margin-right: 150px;
}
@media screen and (max-width: 770px){
    header{
        margin-right: 0;
        margin-bottom: 0px;
        position: relative;
        top: 60px;
    }
}
header img {
    width: 100%;
    max-width: 500px;
    height: auto;
    cursor: pointer;
}
div.text-login{
    position: absolute;
    right:700px;
    top: 350px;
    width: 300px;
}
div h1.title-login{
    color: #fff;
    font-family: "Archivo Black", system-ui;
    text-transform: uppercase;
    font-size: 53px;
}
section.Login-conect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}
@media screen and (max-width: 770px){
    section.Login-conect{
        margin-bottom: 320px;
    }
}

.container-father {
    background-color:  #04051D;
    box-shadow:  10px 0 30px #000000;
    border: rgb(190, 162, 2) solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    position: relative;
    right: 230px;
}

.container-father input {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: #fff;
}

div.campo-user, div.campo-senha {
    width: 100%;
    position: relative;
}

div.campo-user img, div.campo-senha img {
    position: absolute;
    top: 15px;
    right: 185px;
}

.container-father button {
    margin-top: 15px;
    background-color: #c0a300;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
    outline: 0;
    border: 0;
    transition: 0.3s ease;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-father button:focus{
    cursor: wait;
}
.container-father button:hover {
    background-color: #ffd900;
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
@keyframes anima{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
.container-father button#logout a {
    color: black;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.Login-conect p a {
    margin-top: 10px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(190, 162, 2); /* Cor do texto inicial */
    font-family: 'Poppins', sans-serif;
    display: block;
    border-bottom: 4px solid transparent; /* Inicialmente transparente */
}

.Login-conect p a:hover {
    border-bottom-color: gold; /* A linha inferior fica preta ao hover */
}


footer {
    border-top: rgba(128, 128, 128, 0.418) solid 3px;
    background-color: #ffc400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
}

.text-rights {
    font-size: 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #000000;
}
