* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #04051D;
    backdrop-filter: blur(20px);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
@media screen and (max-width: 770px){
    body{
        flex-direction: column;
    }
}

aside {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    margin-right: 150px;
}
@media screen and (max-width: 770px){
    aside{
        margin-right: 0;
        margin-bottom: 0px;
        position: relative;
        top: 35px;
        min-height: 200px;
    }
}
aside img {
    width: max(150px, 18vw);
    cursor: pointer;
}
.text-login{
    position: absolute;
    top: 60%;
    z-index: 1;
}
@media  screen and (max-width: 770px){
    .text-login{
        top: 340%;
    }
}
div h1.title-login{
    color: #fff;
    font-family: "poppins", system-ui;
    text-transform: uppercase;
    font-size: max(40px, 3vw);
}
section.Login-conect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}
@media screen and (max-width: 770px){
    section.Login-conect{
        margin-bottom: 320px;
    }
}

.container-father {
    background-color:  #04051D;
    border: rgb(190, 162, 2) solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s, color 0.3s;
} 
.container-father:hover{
    box-shadow: 0 0 20px #fffb00a2;
    transform: translateY(-10px);
}

.container-father input {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    background-color: #fff;
}

div.campo-user, div.campo-senha {
    width: 100%;
    position: relative;
}

div.campo-user img, div.campo-senha img {
    position: absolute;
    top: 15px;
    right: 185px;
}

.container-father button {
    margin-top: 15px;
    border: #ffd900 solid 5px;
    color: #fff;
    background-color: transparent;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px;
    outline: 0;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-father button:focus{
    cursor: wait;
}
.container-father button:hover {
    transform: translateY(-10px);
    background-color: #ffd900;
    color: #000000;
    box-shadow: 0 0 15px rgb(251, 255, 0);
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

.container-father button#logout a {
    color: black;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.Login-conect p a {
    margin-top: 10px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(190, 162, 2); /* Cor do texto inicial */
    font-family: 'Poppins', sans-serif;
    display: block;
    border-bottom: 4px solid transparent; /* Inicialmente transparente */
}

.Login-conect p a:hover {
    border-bottom-color: gold; /* A linha inferior fica preta ao hover */
}

.grad-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    cursor: pointer;
}
.icon-facebook,
.icon-youtube,
.icon-instagram{
    padding: 10px;
}
.icon-facebook:hover,
.icon-youtube:hover,
.icon-instagram:hover{
    background-color: gold;
    border-radius: 50%;
    transition: 0.3s ease;
}

.button-chamados a{
    color: #000000;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
}
.button-chamados{
    background-color: rgb(230, 196, 5);
    padding: 5px;
    border-radius: 20px;
    transition: 0.3s ease;
    margin-top: 10px;
}
.button-chamados:hover{
    background-color: #ffc400;
    opacity: 0.5;
}

footer {
    border-top: rgba(128, 128, 128, 0.418) solid 3px;
    background-color: #ffc400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
}

.text-rights {
    font-size: 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #000000;
}


.title-login {
    display: flex;
    gap: 10px;
    color: #fff;
    font-family: "poppins", sans-serif;
    text-transform: uppercase;
    font-size: 53px;
}

.title-login span {
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 4.2s infinite;
}

.title-login span:nth-child(1) { animation-delay: 0s; }
.title-login span:nth-child(2) { animation-delay: 0.3s; }
.title-login span:nth-child(3) { animation-delay: 0.6s; }
.title-login span:nth-child(4) { animation-delay: 0.9s; }
.title-login span:nth-child(5) { animation-delay: 1.2s; }
.title-login span:nth-child(6) { animation-delay: 1.5s; 
color: gold;}
.title-login span:nth-child(7) { animation-delay: 1.8s; 
color: gold;}
.title-login span:nth-child(8) { animation-delay: 2.1s; 
color: gold;}

@keyframes fadeIn {
    0%, 100% {
        opacity: 0;
        transform: translateY(40px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
}