*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
body{
    background-color:#04051D;
    width: 100vw;
    height: 100vh;
}
header{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
}
div.campo-setor{
    width: 100%;
    display: flex;
    flex-direction: column;
}
div.campo-setor input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
div.campo-setor select{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
div.campo-setor option{
    padding: 10px;
    font-size: 20px;
}
div.campo-setor button{
    background-color: gold;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin-top: 10px;
    transition: ease 0.3s;
}
div.campo-setor button:hover{
    filter: brightness(70%);
}
div.campo-setor label{
    color: #fff;
}
div.campo-tipo{
    display: flex;
    flex-direction: column;
}
div.campo-tipo select{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
div.campo-tipo option{
    padding: 10px;
    font-size: 20px;
}
a#logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff0000;
    text-decoration: none;
    font-size: 22px;
    transition: 0.3s ease;
}
a#logout:hover{
    filter: brightness(70%);
}
a#logout img{
    width: max(2.7vw, 50px);
    transform: rotate(179.5deg);
}
form#cadastroForm input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
form#cadastroForm{
    width: 100%;
}
form#cadastroForm button{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: gold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.3s ease;
}
form#cadastroForm button:hover{
    filter: brightness(70%);
}
div.container-father{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: gold 4px solid;
    color: #fff;
    box-shadow: 0 0 15px #000;
    padding: 20px 40px;
    width: 100%;
    max-width: 600px;
    background-color: #04051D;
    z-index: 1000;
}
div.container-father p#error-message{
    text-align: center;
    margin: 20px auto;
    width: 100%;
}
.container-father h1{
    font-size: 23px;
    font-family: 'poppins',sans-serif;
    text-transform: capitalize;
    font-weight: 800;
    color: #fff;
}
.container-father h3{
    font-family: 'poppins',sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    color: #fff;
}
div.campo-father{
    padding: 40px;
    width: 100%;
    max-width: 600px;
    background-color: #04051D;
    border: solid 4px gold;
    border-radius: 10px;
    z-index: 1000;
}
@media screen and (max-height:880px) {
    section.cadastro-conect{
        display: flex;
        justify-content: space-around;

    }
}