@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-white: #fff;
    --color-red: #e63636;
    --color-dark1: #181818;
    --color-dark2: #1e1e1e;
    --color-purple1: #9333ff;
    --color-purple2: indigo;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #04051D;
    background-size: cover;
    background-position: center;
    color: var(--color-white);
    height: 100vh;
    width: 100vw;
}
header{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
}
a#logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    transition: 0.3s ease;
}
a#logout:hover{
    filter: brightness(70%);
}
a#logout img{
    width: max(2.7vw, 50px);
    transform: rotate(179.5deg);
}
.content{
    background-color: #04051D;
    padding: 40px 30px;
    border: gold 4px solid;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
h1{
    text-align: center;
    font-family: 'poppins' , sans-serif;
    
}
.content form{
    display: flex;
    flex-direction: column;
    
    
}
.span-required{
    display: none;
}
.inputs{
    padding: 10px;
    outline: none;
    border-radius: 5px;
    background-color: white;
    border: solid 2px var(--color-dark1);
    color: var(--color-white);
    width: 100%;
    box-sizing: border-box;
    transition: .3s;
}
.inputs:focus{
    border-color:  gold;

}
textarea#descricao{
    border-radius: 5px;
    padding: 0px;
    outline: none;
    border: solid 2px var(--color-dark1);
}
textarea#descricao:focus{
    border-color: gold;
}
option{
    font-size: 20px;
    background-color: #1e1e1e;
    color: #fff;
}
select{
    background-color: #ffffff;
    color: #000000;
    border: none;
    outline: none;
}
#categoria{
    padding: 10px;
    border-radius: 5px;
}
.box-select{
    display: flex;
    justify-content: space-between;
    font-weight:bold;
    gap: 1rem;
}
#nivel{
    width:100%;
    padding: 10px;
    border-radius: 5px;
}
button[type="submit"]{
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: gold;
    color: black;
    width: 100%;
    border:none;
    cursor: pointer;
    transition: .3s;
}

button[type="submit"]:hover{
    filter: brightness(70%);
}
@media screen and (max-widht: 576px) {
    .box-select{
        flex-direction: column;
        gap: 5px;
    }
}