*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    border: none;
    outline: none;
}
body{
    background-color: #04051D;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
form{
    background-color: #04051D;
    border: gold 3px solid;
    padding: 20px;
    border-radius: 10px;
    margin-top: 17px;
}

form#curso-form button{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: gold;
    font-size: 17px;
}
form#curso-form button:focus{
    cursor: wait;
}
form#curso-form button:hover {
   filter: brightness(70%);
   transition: 0.3s ease;
}
label,p,h2{
    color: #fff;
}
form input{
    background-color: #fff;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    outline: none;
}
form textarea{
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    color: white;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    transition: .3s;
}
option{
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    color: #000;
}
select{
    background-color: #fff;
    border: none;
    width: 100%;
    color: #000;
    outline: none;
}
#categoria{
    border-radius: 5px;
    padding: 10px;
}
