* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #fff;
}
header .header-training{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #04051D;
}
@media screen and (max-width: 710px){
    header .header-training{
        flex-direction: column;
    }
}

nav.nav-header{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.2s ease-in-out;
}
nav.nav-header:hover{
    filter: brightness(50%);
}
nav.nav-header a{
    color: #fff;
    font-size: 23px;
    font-family: 'poppins', sans-serif;
}
.logo-riofer img{
    width: 160px;
}
@media screen and (max-width: 710px){
    .logo-riofer img{
        width: 100px;
    }
    nav.nav-header a{
        font-size: 20px;
    }
    nav.nav-header{
        gap: 0;
    }
}

div#main-content{
    padding: 40px;
}

.icon-back a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
    color: rgb(255, 255, 255);
    font-family: 'poppins', sans-serif;
    transition: 0.2s ease-in-out;
}
.icon-back a:hover{
    filter: brightness(50%);
}
@media screen and (max-width: 710px){
    .icon-back a{
        flex-direction: row;
        gap: 10px;
    }
    p.text-rights{
        text-align: center;
    }
}

ul#cursos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}
li {
    width: 200px;
    height: 100%;
    border-radius: 20px;
    background-color: #04051D;
    font-family: 'poppins', sans-serif;
    text-align: center;
    display: flex;
    color: white;
    font-size: 14px;
    padding-bottom: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.curso-imagem {
    width: 100%;
    height: 194px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

li a{
    color: white;
    text-decoration: none;
    border-top: white solid 2px;
}
h2{
    color: #fff;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

p.text-rights{
    border-top: solid 2px #9696969c;
    width: 100%;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: 'poppins', sans-serif;
}

